.navbar {
    background-color: #333; 
    padding: 15px;
}

.navbar ul {
    list-style-type: none; 
    display: flex;         
    justify-content:end; 
}

.navbar li {
    margin: 0 20px;       
}

.navbar a {
    text-decoration: none; 
    color: white;          
    font-weight: bold;
}

.navbar a:hover {
    color: aqua;           
}