.navbar {
    background-color: #333; /* ব্যাকগ্রাউন্ড কালার */
    padding: 15px;
}

.navbar ul {
    list-style-type: none; /* লিস্টের ডটগুলো মুছে দিবে */
    display: flex;         /* আইটেমগুলো পাশাপাশি আনবে */
    justify-content:end; /* মাঝখানে সাজাবে */
}

.navbar li {
    margin: 0 20px;       /* একেকটি অপশনের মাঝে ফাঁকা জায়গা */
}

.navbar a {
    text-decoration: none; /* লিঙ্কের নিচের দাগ মুছে দিবে */
    color: white;          /* লেখার রঙ সাদা করবে */
    font-weight: bold;
}

.navbar a:hover {
    color: aqua;           /* মাউস নিলে রঙ পরিবর্তন হবে */
}